
#gallery{
	text-align: center;
	width: 1200px;
	margin: 50px auto;
}
.shots{
	margin: 16px;
	width: 20%;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
}

#cnzz_stat_icon_1254216477{
	opacity: 0;
}