body,
button,
input,
select,
textarea {
	color: #000;	
}
a {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover,
a:focus,
a:active {
	color:#f5f4f4;
}
.site-title a, .site-title a:visited{
	color: #000;
}
.site-header {
    background:url(images/allblu/logo_section.png);
}
.tinynav { background:#78938f; color: #000; border:1px solid #78938f; }

.main-navigation li:hover {
	background:#78938f;
}
.main-navigation a {
	color: #000;
}
.main-navigation ul ul {
	background:#78938f;
}
.main-navigation ul ul a {
	color: #000;
}
.main-navigation ul ul li:hover {
	background:#6f8783;
}
.main-navigation li.current_page_item,
.main-navigation li.current-menu-item {
	background:#78938f;	
}
.nav-border-top{
	border-top:1px solid #78938f;
}
.site-slider{
	background:url(images/allblu/header.png);
}
.site-slider-slider-one-text-heading{
	color: #000;
	text-shadow:none;
}
.site-slider-slider-one-text-description{
	color: #000;
}
.site-slider-slider-one-text-button a{
	color: #000;	
	border-bottom: 4px solid #586d6a;
	background:#667e7a;
}
.biz0ne-products-services-img {
    background: none repeat scroll 0 0 #a0b4b1;
}
.biz0ne-quote, .biztwo-quote {
    background:#a0b4b1;
	border:none;
}
.biz0ne-quote-text {
    background: url(images/allblu/quote.png) no-repeat;
}
.biz0ne-quote-name span {
    background:#8ea09d;
}
.biztwo-portfolio {
    background:#a0b4b1;
}
.widget {
	color: #000;
}
.widget a{
	color: #000;
}
.widget ul li a{
	color: #000;
}
.widget-area {
    background:#a0b4b1;
}
.widget ul li{
	border-bottom:1px solid #8b6546;
}
.search-field{
	background:#8b6546 !important;
}
.widget select{
	background:#8b6546;
}


/* =Content
----------------------------------------------- */
.more-link{
	background:#a0b4b1;
}
.page-links a{
	background:#a0b4b1;
}
.post .entry-title{
	border-bottom:1px solid #a0b4b1;
}
.entry-meta{
	border-bottom:1px solid #a0b4b1;	
}
.entry-meta-bottom{
	border-top:1px solid #a0b4b1;
}
.entry-meta-bottom-item{
	border-bottom:1px solid #a0b4b1;
}
.entry-meta-bottom-item a{
	background:#a0b4b1;
}
pre{
	background:#a0b4b1;
}
blockquote{
	border-left: 1em solid #a0b4b1;
}

/* =Media
----------------------------------------------- */
.wp-caption {
	border: 1px solid #a0b4b1;
}


/* =Navigation
----------------------------------------------- */
.post-navigation{
	background:#a0b4b1;
}
.post-navigation .nav-previous{
	background:url(images/single_np_prev.png) no-repeat left;
}
.post-navigation .nav-next{
	background:url(images/single_np_next.png) no-repeat right;		
}
.paging-navigation .nav-previous{
	background:#a0b4b1 url(images/single_np_prev.png) no-repeat left center;
}
.paging-navigation .nav-next{
	background:#a0b4b1 url(images/single_np_next.png) no-repeat right center;
}

/* =Comments
----------------------------------------------- */
.comments-area{
	background:#a0b4b1;
}
.comment-navigation .nav-previous a{
	background:#c5bb9e;
}
.comment-navigation .nav-next a{
	background:#c5bb9e;
}
.comment-author cite{
	background:url(images/ten.png);
}
.comment-body .reply a{
	background:#000;
	color: #000;
}

.footer-social {
    background:url(images/allblu/social.png);
}
.site-footer {
    background:url(images/allblu/footer.png);
}
.site-info h3 a{
	color: #000;
}
.site-info p {
    color: #000;
}
.site-info p a {
    color: #000;
}
/* Footer Widgets */
.site-footer .widget {
	color: #000;
}
.site-footer .widget a{
	color: #000;
}
.site-footer .widget h1 {
	color: #000;
}
.site-footer .widget ul li{
	border-bottom:1px solid #87a09c;
}
.site-footer .widget ul li a{
	color: #000;
}
.site-footer .search-field{
	background:#87a09c !important;
	color: #000;
}
.site-footer .search-submit{
	background:#000 !important;
	color:#fff !important;
}
.site-footer .wp-caption {
	border: 1px solid #87a09c;
}
.wpcf7-text{
	background:#4c4c4c !important;
	border:3px solid #3e3e3e !important;
}
.wpcf7-textarea{
	background:#4c4c4c !important;
	border:3px solid #3e3e3e !important;
}
.wpcf7-select{
	background:#4c4c4c !important;
	border:none;
}
.wpcf7-quiz{
	background:#4c4c4c !important;
	border:3px solid #3e3e3e !important;
}
.wpcf7-date{
	background:#4c4c4c !important;
	border:3px solid #3e3e3e !important;	
}
.wpcf7-number{
	background:#4c4c4c !important;
	border:3px solid #3e3e3e !important;	
}
.wpcf7-captchar{
	background:#4c4c4c !important;
	border:3px solid #3e3e3e !important;	
}
.wpcf7-submit{
	background:#000 !important;
	color:#fff !important;
	padding:1.0em 3em !important;
	box-shadow:none !important;
	text-shadow:none !important;
}