.site-slider{
	width:100%;
	background:url(images/ggrun/header_bg.png);
}
.site-slider-slider-one-text-heading{
	color:#000;
	text-shadow:none;
}
.site-slider-slider-one-text-description{
	color:#000;
}